
.container{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}

.infected{
  border-bottom: 10px solid red;
  margin: 0 2% !important;

}

.recovered{
  border-bottom: 10px solid  green;
  margin: 0 2% !important;
}

.deaths{
  border-bottom: 10px solid  blue;
  margin: 0 2% !important;
}

.titlestyle{
  color:teal;
  text-align: left;
  font-size: medium;
  font-weight: 500;
}

.datestyle{
  margin-top:3%;
  color:teal;
  text-align: left;
  font-size: small;
}

.countstyle{
  font-size: x-large;
  font-weight: 500;
}
