.imageStyle{
    width:370px;
    margin-top:50px;
}

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 770px)
{
    .container{
        margin: 0 10%;
    }

    .imageContainer{
        margin: 0 10%;
    }

    .imageStyle{
        width: 100%;
    }
}